@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.header {
  height: 70px;
  width: 100%;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: white;
  box-shadow: 3 5px 4px rgba(0, 0, 0, 0.1);
  color: rgb(136, 0, 136);
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.language {
  cursor: pointer;
}

.bell {
  font-size: 20px;
  cursor: pointer;
}

.profile {
  position: relative;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  border: 1px solid #000000;
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 9999;
}

.dropdown p {
  margin: 0;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f5f5f5;
}
