.navigation {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(254, 239, 255);
  gap: 15px;
  color: black; 
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 230px;
  cursor: pointer;
}

.nav-item:hover {
  background: #b700b7;
}

.nav-logo {
  font-size: 18px;
}

.nav-name {
  font-size: 16px;
  font-weight: 500;
}
